<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-12">
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" 
                            class="form-control" 
                            ngModel 
                            type="Email" 
                            name="email" 
                            required 
                            email>
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input id="password" 
                            class="form-control" 
                            type="password" 
                            name="password"
                            ngModel
                            required
                            minlength="6">
                </div>
                <div>
                    <button class="btn btn-primary" 
                        type = "submit" 
                        [disabled]='authForm.invalid'>{{ isLoginMode ? 'Login' : 'Sign Up'}}
                    </button> |
                    <button class="btn btn-primary" (click)="switchMode()" type="button">
                        Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}} Mode
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>