<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup] = "signupForm" (ngSubmit) = "onSubmit()">
            <div formGroupName = 'userData'>
                <div class="form-group">
                    <label for="email">email</label>
                    <input
                      type="text"
                      id="email"
                      class="form-control"
                      formControlName = 'email'>
                      <small 
                        *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
                        class="help-block">Please provide valid email!</small>
                </div>
    
                <div class="form-group">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        id="username"
                        class="form-control"
                        [formControlName] = "'username'">
                        <small 
                        *ngIf="signupForm.get('userData.username').invalid && signupForm.get('userData.username').touched"
                        class="help-block">Please provide valid data!</small>
                </div>
            </div>
            
            <div class="radio" *ngFor="let gender of genders">
                <label>
                <input
                    type="radio"
                    formControlName = 'gender'
                    [value]="gender">{{ gender }}
                </label>
            </div>
<hr>
            <div formArrayName="hobbies">
                <label for = "hobbies">Hobbies</label><br>
                <button class="btn btn-secondary" type="button" (click)="onAddHobby()">Add Hobby</button>
                <div class="form-group"
                    *ngFor="let hobbyControl of signupForm.get('hobbies')['controls']; let i = index">
                    <input type="text" class="form-control" [formControlName] = "i">
                    <span 
                        *ngIf="signupForm.get('hobbies').invalid && signupForm.get('hobbies').touched"
                        class="help-block">Please provide valid data!</span>
                </div>
            </div>
            
            <button class="btn btn-primary" type="submit" [disabled] = "signupForm.invalid">Sign Up</button>
            </form>
        </div>
    </div>
</div>
