<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="div col-md-9 offset-md-2">
                <div class="col-s6">
                    <h1>Quiz Registration</h1>
                </div>
                <br>
                <form #registerForm>
                    <div class="form-group">
                        <i class="material-icons">account_circle</i>  
                        <label>Username</label>  
                        <input type="text" class="form-control" id="validationCustom03" required>
                        <div class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="form-group">
                        <i class="material-icons">mail_outline</i>
                        <label for="exampleInputPassword1">
                            Password
                        </label>
                        <input type="password" class="form-control" id="exampleInputPassword1" required #password ngModel>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]='!registerForm.valid'>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
